/* src/App.css */

.App {
  text-align: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;
}

.pit {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #8bc34a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  transition: background-color 0.3s;
}

.pit:hover {
  background-color: #7cb342;
}